<html>  
    <head>  
    </head>  
    <body>  
			亲爱的${username} :<br>
			感谢您的注册,请您点击以下链接完成邮件验证<br><br>
			请点击链接登录首页:${url}  &nbsp;&nbsp;如果点击以上链接没有反应，请将上面的地址拷贝至您的浏览器(如IE)的地址栏进入。<br> <br>
			如果您并未发过请求,则可能是因为其他用户在注册的时候误输入了您的电子邮件地址而使您收到这份邮件,那么您可以放心的忽略此邮件,无需进一步采取任何操作<br>
    </body>  
</html>
